<h3>Sign up</h3>
<div>Create your log in information</div>
<div> (all fields required)</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>
    <div class="row">
        <%= hidden_field :result, :id, :value => params[:result] if params[:result] %>
        <div class="col-xs-12 col-sm-12 col-md-12 spacer2 spacer3">
              <label>Email</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 spacer2">
              <%= f.email_field :email, autofocus: true, class:"form-control"%>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 spacer2 spacer3">
            <label>Password</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 spacer2">
            <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 spacer2 spacer3">
            <label>Password confirmation</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 spacer2">
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 spacer2 spacer3">
            <%= f.submit "Sign up", class: 'btn wide-btn form-control' %>
        </div>
    </div>
<% end %>
