<!-- <img class="main-logo" src="/assets/logo.png"> -->
<div>
    <h3>Quick calculate your admission chance!</h3>
</div><br/>
<%= form_tag calculate_percentage_path, id: 'percentage_form', multipart: true do %>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12  spacer1">
            <div class="col-xs-6 col-sm-6 col-md-6 spacer1" style="padding-left:0px">
                <%= label :evaluation_rate, "Evaluation Grade (required)", class:"spacer1"  %>
                <%= number_field_tag :evaluation_rate, current_user.present? ? current_user.evaluation_rate : '', class:"form-control", max: 10, step: 0.01, min: 1, placeholder: '00.00' %>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 spacer1" style="padding-right:0px">
                <%= label :overall_grade, "Graduation Grade (required)", class:"spacer1" %>
                <%= number_field_tag :overall_grade, current_user.present? ? current_user.overall_grade : '', class:"form-control", max: 10, step: 0.01, min: 1, placeholder: '00.00' %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 spacer1">
            <%= label :county_id, "Choose your county (required)", class:"spacer1" %>
            <%= select_tag :county_id, options_from_collection_for_select(County.all, 'id', 'name'), prompt: '---', class:"form-control "%>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 spacer1">
            <%= label :highschool_id, "Select your Highschool (required)", class:"spacer1" %>
            <%= select_tag :highschool_id, '', prompt: '---', disabled: true, class:"form-control "%>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 spacer2">
            <%= label :section_id, "Select your section (required)", class:"spacer1" %>
            <%= select_tag :section_id, '', prompt: '---', disabled: true, class:"form-control "%>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 spacer3">
            <button class="btn wide-btn form-control" type="submit">Show results</button>
        </div>
    </div>
<% end %>
