<h4>Your admission chance to <%= @highschool_detail.highschool.name %> is shown on the figure bellow.</h4>
<div id="chart" class="spacer1 spacer3"></div>
<% if current_user %>
    <div class="actions spacer1 spacer3">
      <p> This search was saved to your account. </p>
      <%= link_to "View all my searches", results_history_path(current_user.id), class:"btn normal-btn spacer2 form-control" %><br/>
    </div>
<% else %>
    <div class="actions spacer1 spacer3">
        <p> Do you want to save the search result? </p>
        <%= link_to "Create an account", new_user_registration_path(result: @result), class:"btn normal-btn spacer2 form-control" %><br/>
        <p>OR</p>
        <%= link_to "Log in", new_user_session_path(result: @result), class:"btn normal-btn form-control"%>
    </div>
<% end %>

<script>
    $(document).on('ready', function(){
        var chart = c3.generate({
            data: {
                columns: [
                    ['Percentage', 0]
                ],
                type: 'gauge',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                },
            color: {
                pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                threshold: {
                    values: [30, 60, 90, 100]
                }
            },
            size: {
                height: 180
            }
        });

        setTimeout(function () {
            chart.load({
                columns: [['Percentage', <%= @result.percentage.to_f %>]]
            });
        }, 1000);
    })
</script>
