<h3> Admin Dashboard </h3>
<table class="table">
    <thead>
        <tr class="aling-left">
            <th>DB Tabel</th>
            <th>Data count</th>
            <th>Options</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="aling-left">
        <tr>
            <td>Highschools</td>
            <td><%= Highschool.count %></td>
            <%= form_tag admin_fetch_highschool_data_path, multipart: true do %>
                <td><%= select_tag :year, options_for_select(Date.new(2004).year..Date.today.year), class:"form-control"%></td>
                <td><%= submit_tag "Fetch data", class:"btn btn-default"%></td>
            <% end %>
        </tr>
        <tr>
            <td>Evaluation Results</td>
            <td><%= EvaluationResult.count %></td>
            <%= form_tag admin_import_evaluation_results_path, multipart: true do %>
                <td>
                  <label class="btn btn-default btn-file">
                      Select file<%= file_field_tag "file", style:"display:none;" %>
                  </label>
                </td>
                <td><%= submit_tag "Process csv", class:"btn btn-default"%></td>
            <% end %>
        </tr>
        <tr>
            <td>Admission Results</td>
            <td><%= AdmissionResult.count %></td>
            <%= form_tag admin_import_admission_results_path, multipart: true do %>
                <td>
                  <label class="btn btn-default btn-file">
                      Select file<%= file_field_tag "file", style:"display:none;" %>
                  </label>
                </td>
                <td><%= submit_tag "Process csv", class:"btn btn-default" %></td>
            <% end %>
        </tr>
    </tbody>
</table>

<script>
$(document).on('change', '.btn-file :file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        console.log(label);
    input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        console.log(this);
    });
});
</script>
