<h3 class="spacer1"><%= @highschool.first.highschool.name %></h3><br/>
<table data-role="table" class="table spacer3" id="admin_highschool_details">
    <thead>
        <tr>
            <th>Section</th>
            <th>Last Rate</th>
            <th>Slots</th>
            <th>Year</th>
            <th>County</th>
        </tr>
    </thead>

    <tbody>
        <% @highschool.each do |hd| %>
        <tr>
            <td><%= hd.section.name %> </td>
            <td><%= hd.last_rate %> </td>
            <td><%= hd.students_number %> </td>
            <td><%= hd.year %> </td>
            <td><%= hd.highschool.county.name %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<script>
    $(document).ready(function(){
        if ( $.fn.dataTable.isDataTable( '#admin_highschool_details' ) ) {
            table = $('#admin_highschool_details').DataTable();
        }
        else {
            table = $('#admin_highschool_details').DataTable( {
              responsive: true,
              paging: false,
              searching: false,
              info: false
            } );
        }
    });
</script>
