<h3 class="spacer1"><%= @highschool.first.highschool.name %></h3>
<table data-role="table" class="ui-responsive table spacer3">
    <thead>
        <tr>
            <th>Section</th>
            <th>Last Rate</th>
            <th>Slots</th>
            <th>Year</th>
            <th>County</th>
        </tr>
    </thead>

    <tbody class="aling-left">
        <% @highschool.each do |hd| %>
        <tr>
            <td><%= hd.section.name %> </td>
            <td><%= hd.last_rate %> </td>
            <td><%= hd.students_number %> </td>
            <td><%= hd.year %> </td>
            <td><%= hd.highschool.county.name %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>
