<!-- <img class="main-logo" src="/assets/logo.png"> -->
<div>
    <% if current_user %>
        <h4 class='spacer4'>Welcome back <%= current_user.email %> </h4>
        <div class='spacer4'> Give it a try and find more options </div>
        <%= link_to 'New search', new_search_path, class:'btn wide-btn spacer4 form-control' %>
        <h4 class='spacer4 spacer2'> Or maybe you want to see your older queries </h4>
        <%= link_to 'See your history', results_history_path(current_user.id), class:'btn wide-btn spacer4 form-control' %>
    <% else %>
        <div class='spacer4 spacer2'> Don't worry anymore and find out your admission chance </div>
        <%= link_to 'Create an account', new_user_registration_path, class:'btn wide-btn spacer4 form-control' %>
        <p> and save your searches </p>
        <%= link_to 'See your chance', new_search_path, class:'btn wide-btn spacer4 form-control' %>
        <p> no account needed </p>
    <% end %>
</div><br/>
