<!-- <img class="main-logo" src="/assets/logo.png"> -->
<div>
    <h3>Quick calculate your admission chance!</h2>
</div><br/>
<%= form_tag calculate_percentage_path, id: 'percentage_form', multipart: true do %>
    <div class="row">
        <div class="col-md-12 spacer2">
            <%= label :evaluation_rate, "Insert Your Grades" %>
        </div>
        <div class="col-xs-6 col-md-6 spacer1">
            <%= text_field_tag :evaluation_rate, '', placeholder: 'National Evaluation', class:"form-control"%>
        </div>
        <div class="col-xs-6 col-md-6 spacer1">
            <%= text_field_tag :overall_grade, '', placeholder: 'Overall Grade', class:"form-control"%>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 spacer1">
              <%= label :county_id, "Choose your county", class:"spacer1" %>
              <%= select_tag :county_id, options_from_collection_for_select(County.all, 'id', 'name'), prompt: 'County', class:"form-control "%>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 spacer1">
            <%= label :county_id, "Select your Highschool", class:"spacer1"  %>
            <%= select_tag :highschool_id, '', prompt: 'Highschool', disabled: true, class:"form-control "%>
        </div>
        <div class="col-sm-12 spacer2">
            <%= label :section_id, "Select your section" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 spacer1">
            <%= select_tag :section_id, '', prompt: 'Section', disabled: true, class:"form-control "%>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-default" type="submit">Show results</button>
        </div>
    </div>
<% end %>
