<div class="row">
  <h3>Send a message to Us</h3>

  <%= form_for @contact, :html => {:class => 'form-horizontal' }, validate: true do |f| %>
    <div class="col-xs-12 col-sm-12 col-md-12 spacer2 spacer3">
        <%= f.label :name, 'Name (required)' %>
        <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 spacer2 spacer3">
        <%= f.label :email, 'Email (required)' %>
        <%= f.email_field :email, value: "#{current_user&.email || ''}", class:"form-control" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 spacer2 spacer3">
        <%= f.label :subject, 'Subject (required)' %>
        <%= f.text_field :subject, class:"form-control" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 spacer2 spacer3">
        <%= f.label :message, 'Message (required)' %>
        <%= f.text_area :message, class:"form-control" %>
    </div>
    <div>
      </br>
      <%= f.button 'Send message', :class=> "btn normal-btn form-control" %>
    </div>
  <% end %>
</div>
