<%= link_to "Highschool Assistant", root_path, { class: "app-bar-element"} %>
<span class="app-bar-divider"></span>
<ul class="app-bar-menu">
    <% if current_user %>
        <% if current_user.admin? %>
            <li><%= link_to "Highschools", admin_highschools_path %></li>
            <li><%= link_to "Link", '#' %></li>
            <li><%= link_to "Link", '#' %></li>
        <% else %>
            <li><%= link_to "Link", '#' %></li>
            <li><%= link_to "Link", '#' %></li>
        <% end %>
    <% else %>
        <li><%= link_to "Link", '#' if current_user %></li>
        <li><%= link_to "Link", '#' if current_user %></li>
    <% end %>
</ul>
<ul class="app-bar-menu", style="float:right">
    <li><%= link_to "Account Settings", edit_user_registration_path if current_user %></li>
    <li><%= link_to "Log in", new_user_session_path unless current_user %></li>
    <li><%= link_to "Sign up", new_user_registration_path unless current_user %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %></li>
</ul>
<span class="app-bar-pull"></span>
