<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Highschoolassistant" %></title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
    </head>

    <body class="metro">
        <div>
            <header class="app-bar fixed-top navy" data-role="appbar">
                <div class="container">
                    <%= render 'layouts/navigation_links' %>
                <div class="app-bar-pullbutton automatic" style="display: none;"></div><div class="clearfix" style="width: 0;"></div><nav class="app-bar-pullmenu hidden flexstyle-app-bar-menu" style="display: none;"><ul class="app-bar-pullmenubar hidden app-bar-menu"></ul></nav></div>
            </header>
        </div>
        <div class="container page-content">
            <%= render 'layouts/notifications' %>
            <%= yield %>
        </div>
    </body>
</html>
