<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Highschoolassistant" %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag "application", :media => "all" %>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css", rel="stylesheet">
        <link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css", rel="stylesheet">


        <!-- For third-generation iPad with high-resolution Retina display: -->
        <!-- Size should be 144 x 144 pixels -->
        <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

        <!-- For iPhone with high-resolution Retina display: -->
        <!-- Size should be 114 x 114 pixels -->
        <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

        <!-- For first- and second-generation iPad: -->
        <!-- Size should be 72 x 72 pixels -->
        <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <!-- Size should be 57 x 57 pixels -->
        <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

        <!-- For all other devices -->
        <!-- Size should be 32 x 32 pixels -->
        <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

        <%= javascript_include_tag "//www.google.com/jsapi" %>
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" %>
        <%= javascript_include_tag "https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js" %>
        <%= javascript_include_tag "https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js" %>
        <%= javascript_include_tag "https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js" %>
    </head>

    <body>
        <%= render 'layouts/navigation_links' %>
        <main role ="main">
            <div class="container page-content">
                  <%= yield %>
            </div>
            <%= render 'layouts/notifications' %>
        </main>
        <footer class="navbar footer" style="display: block;">
            <div class="container">
                <div class="navbar-center">
                    <a class="navbar-footer-link" href="/users/sign_in">Log In</a> |
                    <a class="navbar-footer-link" href="/support">Support</a> |
                    <a class="navbar-footer-link" href="<%= new_user_registration_path unless current_user %>">Sign Up</a>
                    <div class="navbar-copyright"><span>© <%= Time.now.year %> Highschool Assistant</span></div>
                </div>
            </div>
        </footer>
    </body>
</html>
